<!DOCTYPE html>
<html>

<head>
    <title>tinyapper</title>
    <link rel="stylesheet" href="/proxy/8000/static/style.css">
</head>

<body>
    <div class="chat-container">
        <div class="message-container">
            <b>user</b><br>
            <span>sample prompt or sm</span>
        </div><br>
        <div class="message-container">
            <b>assistant</b><br>
            <span>blah blah blah gpt shi<br>do u hate me now html</span>
        </div><br>
    </div>
    <form class="input-container">
        <input name="prompt" required><button><i class="bi bi-send-fill"></i></button>
    </form>
</body>

</html>