<!DOCTYPE html>
<html>

<head>
    <title>tinyapper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.8.3/socket.io.min.js"
        integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <div class="chat-container">
        <div class="message-container">
            <b>craisin</b><br>
            <span>
                i made a chatbot from scratch :O! i wanted it for some practical experience and to demystify llms, and to also have a codebase that makes llm development accessible to anyone<br>
                check out the pretrained model demo at <a href="https://yapperpedia.craisin.tech">yapperpedia</a>, it got improvements since the last ship too<br>
                also check out the <a href="https://github.com/craisined/tinyapper">source code</a>, there is a .ipynb for anybody daring to try this for themselves, please feel free to leave stars<br>
                lastly, check out <a href="https://craisin.tech">me</a><br>
                lastly lastly, ty stardancers, i'm both really grateful and motivated from the support from the first ship and the positive devlog comments &gt;3
            </span>
        </div><br>
    </div>
    <form class="input-container">
        <input name="prompt" required><button type="submit"><i class="bi bi-send-fill"></i></button>
    </form>
</body>

</html>