<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }} - ⓨ🅐ⓟ🅟ⓔ🅡ⓟ🅔ⓓ🅘ⓐ</title>
    <script>
        const topic = {{ query|tojson }};
        const prompt = `= ${topic} =`
    </script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <nav>
        <a class="article-logo" href="/">yapperpedia</a>
        <search class="article-search">
            <form action="/search" method="get">
                <input type="search" name="query" placeholder="hallucinate anything..." required /><button
                    type="submit"><i class="bi bi-search"></i></button>
            </form>
        </search>
    </nav>
    <div class="article-content-container"></div>
</body>

</html>