<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ⓨ🅐ⓟ🅟ⓔ🅡ⓟ🅔ⓓ🅘ⓐ</title>
    <script src="{{ url_for('static', filename='mobile.js') }}" defer></script>
</head>

<body class="front-page-container">
    <hgroup>
        <h1>yapperpedia</h1>
        <p>the hallucinated encyclopedia</p>
        <p>(no money = no cloud = no gpu = no fast, please be patient/rate to fund my cloud compute stardancers :3)</p>
    </hgroup>
    <search class="front-page-search">
        <form action="/search" method="get">
            <input type="search" name="query" placeholder="hallucinate anything..." required /><button type="submit"><i
                    class="bi bi-search"></i></button>
        </form>
    </search>
    <div class="link-container">
        <a href="/about">about</a>
        <a href="https://github.com/craisined/tinyapper">code</a>
        <a href="https://craisin.tech">me</a>
    </div>
</body>

</html>