@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Comic+Relief:wght@400;700&display=swap');

body {
    font-family: "Comic Relief", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}

h1 {
    font-family: 'Barrio', system-ui;
    font-size: 4em;
    margin: 0.25rem;
}

h2, h3, h4, h5, h6 {
    font-family: 'Barrio', system-ui;
    margin-bottom: 0.25rem;
}

p {
    margin: 0.25rem;
}

input {
    font-family: "Comic Relief", sans-serif;
    font-size: 1em;
    margin: 0;
    border-radius: 0;
    border-style: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

button {
    font-family: "Comic Relief", sans-serif;
    font-size: 1em;
    margin: 0;
    border-radius: 0;
    border-style: none;
    background-color: transparent;
}

form {
    margin: 0;
}

search {
    border-style: solid;
    display: inline-block;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}

.front-page-container {
    width: 100svw;
    height: 100svh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.front-page-search {
    margin: 3rem;
    font-size: 3rem;
}

.article-search {
    margin: 1rem;
}

.link-container {
    margin-top: 2rem;
}

.article-logo {
    font-family: 'Barrio', system-ui;
    font-size: 3rem;
    flex: 1;
    text-decoration: none;
    color: black;
    margin: 1rem;
}

.article-content-container {
    margin: 1em;
}